@import "tailwindcss";
@plugin "daisyui";

/**
 * Main Block Styles
 */
.wp-block-smc-quiz {
    @apply mb-8;
}

.smc-quiz-root {
    @apply bg-base-100 text-base-content font-sans p-6 rounded-lg shadow-sm;
}